[build]
command = "npm run build"
publish = "build"
functions = "functions"

[dev]
command = "npm start"
port = 3000

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[context.production]
environment = { REACT_APP_ENV = "production", CI = "false" }
